* {
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
div img {
  border-radius: 50%;
}
#profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}

#caption {
  margin: 10px 0;
  width: 500px;
  height: 100px;
  color: blue;
}

#inputbox {
  width: 500px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: 1px solid rgba(208, 201, 201, 0.5);
}

textarea {
  border: none;
  outline: 2px solid whitesmoke;
}

#create-a-post {
  width: 50%;
  display: flex;
  justify-content: center;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(145deg, black, white);
}

.section1 {
  padding: 20px;
}
#post {
  font-size: 8rem;
}

input[type="submit"] {
  margin: 10px 0;
  padding: 0 2em;
}

#post {
  color: aliceblue;
  font-weight: 500;
}
